@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(166, 234, 205);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  background-color: #fff;
  text-align: center;
  width: 700px;
  height: 500px;
  border: 1px solid #e0cece;
  box-shadow: 6px 4px 10px 1px rgb(3, 0, 0);
  border-radius: 1%;

}

.box {
  float: left;
  width: 50%;
  line-height: 2.5;
  
}
h1 {
  margin-top: 40px;
  font-family: 'Ubuntu', sans-serif;
}

form .social-media a {
    font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  color: #82c9d8;
  padding: 10px;
}
p{
    font-family: 'Ubuntu', sans-serif;
}

form .form-control {
  margin: 10px;
  border: none;
  outline: none;
  background-color: #d6c6eb;
  padding: 15px 50px;
  border-radius: 8px;
  font-family: 'Ubuntu', sans-serif;
}
.box .btn {
  padding: 15px 30px;
  color: rgb(32, 9, 54);
  background-color: #7de6ce;
  border-radius: 8px;
  
}

.box2 {
  float: right;
  background-color: #82c9d8;
  width: 50%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
}
